<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>590482318461-bq6q0c614okc5abj6dk8lqeae86hkjtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590482318461-bq6q0c614okc5abj6dk8lqeae86hkjtn</string>
	<key>API_KEY</key>
	<string>AIzaSyBf9kM17XWtbk9hkZnymC_-GRevlHHpHMM</string>
	<key>GCM_SENDER_ID</key>
	<string>590482318461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sg106.Shajuni</string>
	<key>PROJECT_ID</key>
	<string>shajuni-9c2ca</string>
	<key>STORAGE_BUCKET</key>
	<string>shajuni-9c2ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590482318461:ios:0d70aa4d6241eebb</string>
	<key>DATABASE_URL</key>
	<string>https://shajuni-9c2ca.firebaseio.com</string>
</dict>
</plist>